# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env
.env.*

# Poetry
poetry.lock


# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Logs
*.log

# Others
*.sqlite3
